/* Header */
.header{
    background-color: black;
    height: 100px;
    padding-top: 10px;
}
.header > h1{
    color:white;
}

/* Footer */
.footer{
    background-color: black;
    padding: 5px 0px; 
    position: fixed; 
    bottom: 0px;
    width: 100%;
}
.footer > p{
    color: grey;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* login page */
.login{
    border-radius: 10px;
    width: 400px;
    padding: 50px 0px;
    background-color: #D4D3D3;
    margin-top: -20px;
}
.loginForm > input{
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}
.signIn{
    border: none;
    padding: 12px 25px;
    background-color: #008CBA;
    font-size: 16px;
    color: white;
    border-radius: 15px;
}
.loginPage{
    width: 100%;
    display: flex;
    margin-top: 200px;
    
}
.loginPos{
    margin: 0 auto;
    display: flex;
    margin-top: 0 auto;
}

/* navigation */
.nav{
    width: 100%;
    margin: 0 auto;
    background-color: #7D7D7D;
    height: 55px;
}
.navMid{
    display: table;
    margin: 0 auto;
}
.nav > .navMid > ul > li{
    list-style: none;
    display: inline;
    padding-right: 15px;
}
.nav > .navMid > ul > li > .links{
    text-Decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
}
.nav > .navMid > ul > li > .links:hover{
    background-color: #6A6969;
}
@media only screen and (max-width: 1154px){
    .nav{
        height: 80px;
    }
    .nav > .navMid > ul{
        margin-bottom:20px
    }
}
/* Home page */
.dashboard{
    margin-top: 100px;
}

/* User page */
.userPage{
    width: 100%;
    height: auto;
}
.userTable{
    width: 95%;
    margin: 0 auto;
}
.dataGrid{
    width:30%;
}


.signout{
    background: none;
    border: 1px solid white;
    border-radius: 10px;
	cursor: pointer;
    color: white;
    padding: 5px;
}
.signout:hover{
    color: black;
    background-color:white;
}

.table1> tbody> tr> td{
    text-align: left;
    padding: 15px 20px;
    font-size: 14px;
    /* font-weight: bold; */
    /* border: 1px solid black; */

}
.table1> tbody> tr:nth-child(even)
{
    background-color: #DCDCDC;
}
.basicTable{
    width:100%;
}
table{
    width: 99%;
    margin: 0 auto;
    margin-bottom: 150px;
}
.notes>tr>th{
    padding: 5px;
    text-align: left;
}
.notes>tr>td{
    padding: 5px;
    text-align: left;
}
td.UserId{
    width:0px;
}
/* add_User_Styles */
.add_Table_Styles{
    width:50%;
    margin: 0 auto;
    background-color: #E6E6E6;
    padding: 0px 0px 80px 0px;
    margin-bottom: 160px;
}
.add_form{
    width:70%;
    margin: 0 auto;
}
.add_Table_Styles>.add_form>input{
    width: 40%;
    margin: 0px 0 12px 0;
    display: inline-flex;
    padding: 5px;
    background: white;
}
.add_Table_Styles>.add_form>div>textarea{
    padding: 5px;
    width: 40%;
    display: inline-flex;
    background: white;
}
.add_Table_Styles>.add_form>select{
    width: 43%;
    margin: 0px 0 12px 0;
    display: inline-flex;
    padding: 5px;
    background: white;
}    
.add_Table_Styles>.add_form>label{
    text-align: right;
    width:30%;
    display: inline-flex;
    margin-right: 10px;
}
.add_Table_Styles>.add_form>div>label{
    text-align: right;
    width:30%;
    display: inline-flex;
    margin-right: 10px;
}
.Submit_Button{
    border: none;
    background-color: #017EEC;
    color: white;
    padding: 10px 20px;
    width: 75%;
}
.Submit_Button:hover{
    cursor: pointer;
    background-color: #016CCA;
}
.update_Button{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 75%;
}
.update_Button:hover{
    cursor: pointer;
    background-color: #464646;
}
.addNew{
    border: none;
    padding: 5px 15px;
    background-color: #0181D7;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.addNew:hover{
    background-color: #016CCA;
}
.downloadCSV{
    margin-left: 10px;
    border: none;
    padding: 5px 15px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.downloadCSV:hover{
    background-color: #353535;
}
.edit_button{
    border: none; 
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 5px 15px; 
    margin-bottom: 10px;
}
.edit_button:hover{
    cursor: pointer;
    background-color: #2D2D2D;
}
.delete_button{
    margin-top: 5px;
    border: none; 
    background-color: grey;
    border-radius: 20px;
    color: white;
    padding: 5px 15px; 
}
.delete_button:hover{
    cursor: pointer;
    background-color: #FE3535;
}
.assignButton{
    border: none; 
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 5px 15px; 
}
.assignButton:hover{
    cursor: pointer;
    background-color: #2D2D2D;
}

.UserTableHead>tr>th{
    padding: 10px 5px;
}

.groupTextField * {
    vertical-align: top;
}
.addGroupTextArea{
    width:50%
}
.addFormHeading{
    width:100%;
    background-color: #008CBA;
    height: 30%;
    padding: 20px 0px 10px 0px;
    margin-bottom: 50px;
}
.addFormHeading>h1{
    color:white
}
.editFormHeading{
    width:100%;
    background-color:black;
    height: 30%;
    padding: 20px 0px 10px 0px;
    margin-bottom: 50px;
}
.editFormHeading>h1{
    color:white;
}